// background color
@bg-color: #f2f2f2;
@bg-color-primary: #4a91ee;
@bg-color-secondary: #e5e5e5;
@bg-color-third: #d8d8d8;

// text
// 外部引入字体 优设标题黑
@font-face {
  font-family: "YouSheBiaoTiHei";
  src: url("./assets/font/YouSheBiaoTiHei-2.ttf") format("truetype");
}
@YouSheBiaoTiHei: "YouSheBiaoTiHei";
// 字体颜色
@text: #3d3d3d;
@text-secondary: #6d757a;

// px/rem
@border-radius: 1rem;

// shadow
@shadow-outer:0px 4px 10px 0px rgba(0, 0, 0, 0.3);
@shadow-inner:inset 0px 4px 10px 0px rgba(0, 0, 0, 0.3);


